#Celestiq{
    background: url("Cadillac_Celestiq.jpg") no-repeat center;
    background-size:cover;
    background-attachment: fixed;
}
#CT4-V_2023{
    background: url("CT4_V_blackwing_2023.jpg") no-repeat center; 
    background-size: cover;
    background-attachment:fixed; 
}
#XT6_2022{
    background: url("Cadilac_XT6_2022.jfif") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
span.head_1,.head_2,.head_3 {
     
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1% ;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center; 
    justify-content:center ;
    position: relative;
    
    }
    .space{
     text-align: center;
    }